# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Env files
.env
*.log

# 保证数据安全
datasets/PE_TEOS.csv